.testimonials {
  background: #2c2c6c;
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
  user-select: none;
  display: flex;
  justify-content: center;
}

.UpperContainer {
  display: flex;
  justify-content: center;
}

.containerTCTA {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #2c2c6c;
  border-color: rgba(77, 181, 255, 0.4);
  border-radius: 1rem;
  border: 1px solid;
}

/* ============ Media Queries (medium devices) ============ */
@media screen and (max-width: 1024px) {
  .container.testimonials__container {
    width: 60%;
  }
}

/* ============ Media Queries (small devices) ============ */
@media screen and (max-width: 600px) {
  .container.testimonials__container {
    width: var(--container-width-sm);
  }

  .client__review {
    width: var(--container-width-sm);
  }
}
